<%- include('partials/header') %>

<% if (successMessage.length > 0) { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= successMessage[0] %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% } %>
  
  <% if (errorMessage.length > 0) { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= errorMessage[0] %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% } %>
  




<h1>feedback</h1>



<form action="/feedback" method="POST"  >
    <b>Author: <%= name %></b><br>
    <input type="text" name="feedback" placeholder="feedback">
    <button>Submit</button>
</form>




<%- include('partials/footer') %>